<a href="https://colab.research.google.com/github/nehakumari30may/ReactApp/blob/main/MotorCycle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
bike=pd.read_csv("/content/bike_dataset.csv")
bike.head(4)

,model_name,price,CC,mileage,type_of_bike,weight_in_kg,links,acceleration_speed,top_speed
0,Gravton Motors Quanta,99000,NaN,320.0,Electric Bike,100,https://www.carandbike.com/gravton-motors-bike...,4.2,70.0
1,Simple Energy One,109999,NaN,236.0,Electric Bike,110,https://www.carandbike.com/simple-energy-bikes...,3.6,100.0
2,Okaya Classiq,69900,NaN,200.0,Electric Bike,95,https://www.carandbike.com/okaya-bikes/classiq,NaN,25.0
3,Oben Electric Rorr,102999,NaN,200.0,Electric Bike,120,https://www.carandbike.com/oben-electric-bikes...,3.0,100.0

In [6]:
bike.drop(columns='links',inplace=True)

In [10]:
bike.tail(2)

,model_name,price,CC,mileage,type_of_bike,weight_in_kg,acceleration_speed,top_speed
359,Ducati Hypermotard 950,1402278,937.0,9.0,Petrol Bike,176,NaN,NaN
360,Harley-Davidson CVO Limited,4999000,1923.0,8.0,Petrol Bike,411,NaN,NaN

In [11]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model_name          361 non-null    object
 1   price               361 non-null    int64
 2   CC                  304 non-null    float64
 3   mileage             361 non-null    float64
 4   type_of_bike        361 non-null    object
 5   weight_in_kg        361 non-null    int64
 6   acceleration_speed  170 non-null    float64
 7   top_speed           200 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 22.7+ KB

In [13]:
bike[bike['CC'].isnull()]

,model_name,price,CC,mileage,type_of_bike,weight_in_kg,acceleration_speed,top_speed
0,Gravton Motors Quanta,99000,NaN,320.0,Electric Bike,100,4.20,70.0
1,Simple Energy One,109999,NaN,236.0,Electric Bike,110,3.60,100.0
2,Okaya Classiq,69900,NaN,200.0,Electric Bike,95,NaN,25.0
3,Oben Electric Rorr,102999,NaN,200.0,Electric Bike,120,3.00,100.0
4,Ola Electric S1,85099,NaN,181.0,Electric Bike,121,2.90,116.0
5,Ola Electric S1 Pro,120149,NaN,181.0,Electric Bike,125,2.90,116.0
6,Revolt RV300,114264,NaN,180.0,Electric Bike,101,4.00,65.0
7,Okinawa Praise,71990,NaN,170.0,Electric Bike,96,9.43,78.0
8,Hero Electric NYX HX,67540,NaN,165.0,Electric Bike,73,3.30,42.0
9,Crayon Motors Envy,53000,NaN,160.0,Electric Bike,100,NaN,25.0
10,22Kymco Flow,74740,NaN,160.0,Electric Bike,85,NaN,60.0
11,Okinawa Okhi 90,103866,NaN,160.0,Electric Bike,96,5.00,90.0
12,Revolt RV400,129463,NaN,150.0,Electric Bike,108,4.00,65.0
13,Kabira Mobility KM 4000,136990,NaN,150.0,Electric Bike,150,3.10,120.0
14,One Moto Electa,199000,NaN,150.0,Electric Bike,115,3.30,85.0
15,Odysse Evoqis,157000,NaN,140.0,Electric Bike,200,4.20,80.0
16,Okinawa i-Praise,108749,NaN,139.0,Electric Bike,150,9.43,75.0
17,Li-ions Elektrik Spock,65000,NaN,130.0,Electric Bike,90,3.90,45.0
18,Tork Motors Kratos,102499,NaN,120.0,Electric Bike,120,4.00,100.0
19,Kabira Mobility KM 3000,126990,NaN,120.0,Electric Bike,150,3.30,100.0
20,EeVe Soul,140000,NaN,120.0,Electric Bike,140,8.00,55.0
21,BGauss D15,99999,NaN,115.0,Electric Bike,107,7.00,60.0
22,Nexzu Mobility Dextro,47000,NaN,110.0,Electric Bike,62,NaN,35.0
23,BGauss A2,52499,NaN,110.0,Electric Bike,88,NaN,25.0
24,Nexzu Mobility Dextro +,66500,NaN,110.0,Electric Bike,62,NaN,35.0
25,Hero Electric Photon HX,74240,NaN,108.0,Electric Bike,87,9.58,45.0
27,Atumobile Atum 1.0,50000,NaN,100.0,Electric Bike,108,NaN,25.0
28,Okinawa Ridge +,64998,NaN,100.0,Electric Bike,96,NaN,45.0
29,Boom Motors Corbett-14,86999,NaN,100.0,Electric Bike,90,NaN,55.0
30,Earth Energy EV Glyde +,92000,NaN,100.0,Electric Bike,110,NaN,90.0
31,Ather 450,118995,NaN,100.0,Electric Bike,108,3.30,80.0
33,Bajaj Chetak,100000,NaN,95.0,Electric Bike,100,4.50,80.0
37,Hero Electric Flash LX,59640,NaN,85.0,Electric Bike,69,10.00,42.0
38,Hero Electric Atria LX,66640,NaN,85.0,Electric Bike,69,NaN,25.0
39,Ampere Zeal Ex,74489,NaN,85.0,Electric Bike,78,11.00,50.0
41,Bounce Infinity E1,45099,NaN,83.0,Electric Bike,94,8.00,65.0
43,Hero Electric Optima HX,55580,NaN,82.0,Electric Bike,73,8.00,42.0
44,Polarity Executive,38000,NaN,80.0,Electric Bike,55,NaN,40.0
45,Polarity Sport,40000,NaN,80.0,Electric Bike,55,NaN,45.0
47,Gemopai Astrid Lite,84787,NaN,80.0,Electric Bike,96,7.39,65.0
51,Odysse V2,75000,NaN,75.0,Electric Bike,75,NaN,25.0
52,Ampere Magnus Pro,79966,NaN,75.0,Electric Bike,94,10.00,55.0
53,TVS iQube,166358,NaN,75.0,Electric Bike,118,4.20,78.0
58,Odysse Racer,59500,NaN,70.0,Electric Bike,100,8.00,45.0
59,BGauss B8,62999,NaN,70.0,Electric Bike,88,11.00,50.0
61,Ampere Zeal,74490,NaN,70.0,Electric Bike,75,13.80,55.0
80,Lohia Omastar,40850,NaN,60.0,Electric Bike,66,NaN,25.0
81,Okinawa R30,58992,NaN,60.0,Electric Bike,150,NaN,25.0
82,Okinawa Dual,58998,NaN,60.0,Electric Bike,96,NaN,25.0
87,Evolet Pony,39499,NaN,55.0,Electric Bike,82,NaN,25.0
88,Evolet Polo,44499,NaN,55.0,Electric Bike,82,NaN,25.0
89,Evolet Derby,46499,NaN,55.0,Electric Bike,82,NaN,25.0
90,Ampere Reo Elite,47264,NaN,55.0,Electric Bike,68,NaN,25.0
98,Okinawa Lite,59990,NaN,50.0,Electric Bike,150,NaN,25.0
108,Ampere V48,38719,NaN,45.0,Electric Bike,84,NaN,25.0
109,Ampere Reo,44838,NaN,45.0,Electric Bike,70,NaN,25.0
110,Ampere Magnus,45999,NaN,45.0,Electric Bike,94,NaN,25.0

In [18]:
bike[bike['CC'].isnull()]['type_of_bike'].value_counts()

Electric Bike    57
Name: type_of_bike, dtype: int64

In [14]:
bike.describe()

,price,CC,mileage,weight_in_kg,acceleration_speed,top_speed
count,3.610000e+02,304.000000,361.000000,361.000000,170.000000,200.000000
mean,8.399079e+05,680.973684,44.681413,178.839335,4.193412,99.338650
std,1.052083e+06,547.744364,39.890270,73.839516,2.369334,39.631992
min,3.800000e+04,87.800000,8.000000,55.000000,1.010000,25.000000
25%,1.000000e+05,164.425000,20.000000,118.000000,2.800000,79.500000
50%,2.420000e+05,618.000000,30.000000,169.000000,3.215000,100.000000
75%,1.459000e+06,1051.500000,55.000000,216.000000,5.075000,129.115000
max,7.990000e+06,2458.000000,320.000000,433.000000,13.800000,200.000000

In [17]:
bike['CC'].mode()

0    249.0
dtype: float64

In [16]:
bike['CC'].value_counts()

249.0     11
998.0     10
1811.0     8
1745.0     8
937.0      7
          ..
799.0      1
1084.0     1
300.0      1
649.3      1
1923.0     1
Name: CC, Length: 129, dtype: int64

In [33]:
bike['brand']=bike['model_name'].str.split().apply(lambda x:x[0])

In [45]:
bike[bike['type_of_bike']=='Electric Bike'][bike[bike['type_of_bike']=='Electric Bike']['brand']=='Hero']

,model_name,price,CC,mileage,type_of_bike,weight_in_kg,acceleration_speed,top_speed,brand
8,Hero Electric NYX HX,67540,NaN,165.0,Electric Bike,73,3.30,42.0,Hero
25,Hero Electric Photon HX,74240,NaN,108.0,Electric Bike,87,9.58,45.0,Hero
37,Hero Electric Flash LX,59640,NaN,85.0,Electric Bike,69,10.00,42.0,Hero
38,Hero Electric Atria LX,66640,NaN,85.0,Electric Bike,69,NaN,25.0,Hero
43,Hero Electric Optima HX,55580,NaN,82.0,Electric Bike,73,8.00,42.0,Hero

In [35]:
bike['brand'].value_counts()

Kawasaki           31
BMW                26
Ducati             24
Honda              23
Hero               23
Bajaj              20
TVS                19
Triumph            17
Yamaha             16
Harley-Davidson    16
Indian             15
Suzuki             11
Aprilia            10
KTM                10
Royal               8
Benelli             8
MV                  7
Okinawa             7
Ampere              7
Moto                6
CFMoto              4
JAWA                4
BGauss              3
Odysse              3
Yezdi               3
Evolet              3
Ola                 2
Piaggio             2
Avantura            2
Husqvarna           2
Revolt              2
Polarity            2
Cleveland           2
Kabira              2
Nexzu               2
Mahindra            1
FB                  1
Gravton             1
Lohia               1
Simple              1
Bounce              1
Ather               1
Earth               1
Boom                1
Atumobile           1
EeVe                1
Tork                1
Li-ions             1
One                 1
22Kymco             1
Crayon              1
Oben                1
Okaya               1
Gemopai             1
Name: brand, dtype: int64